apiVersion: v1
kind: Secret
metadata:
  name: video-svc-secrets  
type: Opaque  # Тип для произвольных данных
stringData: 
  DB_USER: user
  DB_PASS: user123
  RABBITMQ_USER: "user-12"
  RABBITMQ_PASSWORD: "wfjiawp2"